/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('resturant3.jpg');
    background-size: cover;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Navbar Styles */
.navbar {
    background-color: rgba(235, 230, 230, 0.907);
    padding: 20px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #020202fc;
    text-decoration: none;
}

/* Hero Section Styles */
.hero {
    background-color: rgba(98, 21, 21, 0.5);
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 20px 0;
}

.footer p {
    font-size: 14px;
}